<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

  <title><%= @title || content_for?(:title) ? yield(:title) : "foundation-rails" -%></title>

  <%= stylesheet_link_tag    "application" -%>
  <%= javascript_include_tag "vendor/modernizr" -%>
  <%= csrf_meta_tags -%>
</head>

<body>

  <%= render 'shared/navbar' -%>

  <div class="row collapse">
    <div class="columns small-12">
      <%= render 'shared/flashes' -%>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12">
      <%= yield -%>
    </div>
  </div>

  <%= javascript_include_tag "application" -%>
</body>
</html>
