= link_to 'French',  change_locale_url('fr'), method: :patch
= link_to 'English', change_locale_url('en'), method: :patch
%h1.fi-power=t 'home.top'
.row.small-12
  .small-12.medium-4.columns
    .panel.small-12
      .row.collapse
        %h2.fi-align-justify= t 'home.panel.left'
      .row.collapse
        .small-12
          - current_user.activities().each do |activity|
            %h3= link_to activity.name, activity_url(activity)
            %ul
              %li= "Starts on #{activity.start}"
              %li= "Ends on #{activity.end}"
          %h3= t('home.panel.upcoming')
          - current_user.activities(upcoming: true).each do |activity|
            %h3= link_to activity.name, activity_url(activity)
            %ul
              %li= "Starts on #{activity.start}"
              %li= "Registrations end on #{activity.registration_end}"

  .small-12.medium-4.columns
    .panel.small-12
      .row.collapse
        %h2.fi-battery-half= t 'home.panel.mid'
      .row.collapse
        .small-12

  .small-12.medium-4.columns
    .panel.small-12
      .row.collapse
        %h2.fi-battery-full= t 'home.panel.right'
      .row.collapse
        .small-12
          - current_user.activities(old: true).each do |activity|
            %h3= link_to activity.name, activity_url(activity)
#calendar
