<%= simple_form_for(@school_module) do |f| %>
  <% if @school_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_module.errors.count, "error") %> prohibited this school_module from being saved:</h2>

      <ul>
      <% @school_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class='row collapse'>
  <div class='small-3 columns'>
    <h3>starting date</h3>
    <%= f.date_select :start %>
  </div>
  <div class='small-3 columns'>
    <h3>deadline</h3>
    <%= f.date_select :end %>
  </div>
  <div class='small-3 columns'>
    <h3>registrations</h3>
    <%= f.date_select :registration_start %>
  </div>
  <div class='small-3 columns'>
    <h3>registrations end</h3>
    <%= f.date_select :registration_end %>
  </div>

</div>

<div class='row'>
  <div class='small-3 columns'>
    <h3>Name</h3>
    <%= f.text_field :name %>
  </div>
  <div class='small-9 columns'>
    <h3>Description</h3>
    <%= f.text_area :description %>
  </div>

  <%= f.input :users, collection: User.all, as: :check_boxes %>

  <%= f.button :submit %>
</div>
<% end %>
