<h1>Listing school_modules</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Registration start</th>
      <th>Registration end</th>
      <th>Users</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_modules.each do |school_module| %>
      <tr>
        <td><%= school_module.start %></td>
        <td><%= school_module.end %></td>
        <td><%= school_module.registration_start %></td>
        <td><%= school_module.registration_end %></td>
        <td><%= school_module.users %></td>
        <td><%= school_module.name %></td>
        <td><%= school_module.description %></td>
        <td><%= link_to 'Show', school_module %></td>
        <td><%= link_to 'Edit', edit_school_module_path(school_module) %></td>
        <td><%= link_to 'Destroy', school_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School module', new_school_module_path %>
