<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @school_module.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @school_module.end %>
</p>

<p>
  <strong>Registration start:</strong>
  <%= @school_module.registration_start %>
</p>

<p>
  <strong>Registration end:</strong>
  <%= @school_module.registration_end %>
</p>

<p>
  <strong>Users:</strong>
  <%= @school_module.users %>
</p>

<%= link_to 'Edit', edit_school_module_path(@school_module) %>
<%= link_to 'Back', school_modules_path %>
<%= link_to 'Register', school_module_register_url(@school_module, current_user), method: :post %>
<%= link_to 'Unregister', school_module_unregister_url(@school_module, current_user), method: :post %>
