%li= link_to t('nav.home'), main_app.root_url
%li
  = link_to_if current_user.blank?, t('nav.sign_in'), main_app.new_user_session_path do
    %li= link_to t('nav.admin'), main_app.rails_admin_path
    %li= link_to t('nav.activities'), main_app.activities_url
    %li= link_to t('nav.modules'), main_app.school_modules_url
    %li= link_to t('nav.forum'), forem.forums_path
    %li= link_to t('nav.ldap'), main_app.profiles_path
    %li= link_to t('nav.profile'), main_app.profile_path(current_user.username)
    %li= link_to t('nav.sign_out'), main_app.destroy_user_session_path, method: :delete
