<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Born 2 Code @ 42', main_app.root_url %></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span></span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%= render 'shared/links' -%>
      </ul>
    </section>
  </nav>
</div>
