<p id="notice"><%= notice %></p>

<%= link_to_if @activity.learning_doc, t('activity.pdf_download'), @activity.learning_doc.url %>

<p>
  <strong>Start:</strong>
  <%= @activity.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @activity.end %>
</p>

<p>
  <strong>Registration start:</strong>
  <%= @activity.registration_start %>
</p>

<p>
  <strong>Registration end:</strong>
  <%= @activity.registration_end %>
</p>

<p>
  <strong>Users:</strong>
  <%= @activity.users %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %>
<%= link_to 'Back', activities_path %>
<%= link_to 'Register', activity_register_url(@activity.id, current_user), method: :post %>
<%= link_to 'Unregister', activity_unregister_url(@activity.id, current_user), method: :post %>
