- button_class = :'button small-12 expand'
.row.collapse
  = paginate @users
  %dl.accordion(data-accordion)
    %dd.accordion-navigation
      %a(href="#panel1")= t 'ldap.accordion'
      #panel1.content
        %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
          %li= link_to t('ldap.sync'), sync_url, method: :post, remote: true, class: button_class
          %li= link_to t('ldap.sort.username'), profiles_url('sort_by' => 'username'), remote: false, class: button_class
          %li= link_to t('ldap.sort.id'), profiles_url('sort_by' => 'id'), remote: false, class: button_class
          %li= link_to t('ldap.sort.uidnumber'), profiles_url('sort_by' => 'uidnumber'), remote: false, class: button_class
          %li= link_to t('ldap.sort.gidnumber'), profiles_url('sort_by' => 'gidnumber'), remote: false, class: button_class
          %li= link_to t('ldap.sort.cn'), profiles_url('sort_by' => 'cn'), remote: false, class: button_class

  .columns.small-12
    %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-6
      - @users.each do |user|
        - @user = user
        = render partial: 'user'
  = paginate @users
