- if current_user.id == @user.id
  = button_to 'Create autologin', generate_path(current_user.id)
  = button_to 'Disable autologin', disable_path(current_user.id)
.small-12.medium-3
  = image_tag(image_of(@user), class: :'small-12')
.small-12.medium-9
  .row.collapse
    %h2= @user.cn
    %h3= "#{@user.birth_date_time}"
  .row.collapse
    %h3=t 'profile.modules'
    %ul
      - @user.school_modules.each do |m|
        %li
          %h4= link_to m.name, school_module_url(m)
  .row.collapse
    %h3=t 'profile.activities'
    %ul
      - @user.activities.each do |m|
        %li
          %h4= link_to m.name, activity_url(m)
